/* ヘッダー */
.header{
    padding: 25px 15px 0;
    border-bottom: 5px solid #111;
    background-image: url(../images/banner.jpg);
    background-size: contain;
}

.header .topchar {
    display: inline;
    font-size: 5rem;
    border: 3px solid #000;
    border-radius: 45px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #FF0000;
}

.menu-list .nav-item{
    display: inline-block;
    padding: 5px 8px;
    margin: 0 2px;
    background-color: #f00;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 5px 5px 2px  black;
}

.menu-list .now,
.nav-item:hover{
    box-shadow: inset 5px 5px 2px black;
}
