@charset "UTF-8";
/* 設定 */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    font-family: Raleway, "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/* メイン */
main .kou2 {
    display: none;
}

img {
    margin-top: 100px;
    margin-bottom: -338px;
}

/* フッター */
.foot {
    padding: 1px;
    margin-top: 300px;
    position: relative;
    z-index: 1;
    margin-bottom: -1px;
    background-color: #000;
}

.foot a:visited {
    color: #f00;
}

.foot:hover {
    background-color: #333;
}

.foot p {
    font-size: 100px;
}

.foot p:hover {
    color: #f88;
}
/* end */