@charset "UTF-8";
/* 設定 */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    font-family: Raleway, "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/* メイン */
main .kouji {
    width: 100%;
}

main .kou2 {
    display: none;
}

/* フッター */
.foot {
    height: 12vw;
    width: 100%;
    background-color: #000;
}

.foot a:visited {
    color: #f00;
}

.foot:hover {
    background-color: #333;
}

.foot p {
    font-size: 100px;
}

.foot p:hover {
    color: #f88;
}
/* end */