@media screen and (max-width:1024px) {
    .header {
        width: 100vw;
    }
}

/* iPhone 6/7/8 Plus*/
@media screen and (max-width:414px) {
    .header {
        background-image: url(../../images/banner414.jpg);
        background-size: cover;
    }

    .header .topchar {
        font-size: 52px;
        padding: 1.5%;
    }

    .header .menu-list {
        padding-right: 12%;
    }

    .menu-list .nav-item {
        display: block;
        margin-bottom: 4px;
        background-color: rgba(255,0,0,0.8);
        box-shadow: none;
    }

    .menu-list .nav-item a {
        display: block;
        width: auto;
        height: 28px;
        border-radius: 10px;
    }
}