/* iPad Pro */
@media screen and (max-width:1024px) {
    .said_1 .apple {
        height: 100%
    }

    .section_main .text {
        font-size: 20px;
    }

    .said_2 .rat {
        height: 694px;
    }
}

/* iPad */
@media screen and (max-width:768px) {
    .said_1 .apple {
        height: 1483px;
    }

    .said_2 .rat {
        height: 701px;
    }
}

/* iPhone 6/7/8 Plus */
@media screen and (max-width:414px) {  
    .said_1 {
        width: 100%;
        float: none;
    } 
    .said_1 .apple {
        height: 500px;
        width: 100%;
    }

    .section_main .text {
        font-size: 23px;
    }

    .text {
        background-color: rgba(204,205,204,0.9);
        border-radius: none;
    }

    .said_2 {
        width: 100%;
    }
    
    .said_2 .rat {
        width: 100%;
        height: 500px;
    }
}

@media screen and (max-width:360px) {
    .section_main .text {
        font-size: 20px;
    }
}