@charset "UTF-8";
/* 設定 */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    font-family: Raleway, "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/* iPadPro */
.main_text {
    padding: 338px 0px;
}

/* iPad */
@media screen and (max-width:768px) {

.main_text {
    padding: 129px;
}

}
