@charset "UTF-8";
/* 設定 */
@media screen and (max-width:1024px) {
    .main_text {
        width: auto;
        height: 100vw;
    }
}

@media screen and (max-width:414px) {
    .main_text p {
        font-size: 200%;
    }

}